.footer-body {
}
.footer-top {
}
.footer-heading {
    color: #000000;
    font-family: "Akzidenz Grotesk BQ - Bd Cnd";
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
	margin-bottom: 32px;
	@media (max-width:600px) {
		text-align: center;
	}
}
.footer-contacts {
    display: flex;
	flex-wrap: wrap;
		&__item {
			flex: 0 0 50%;
			margin-bottom: 23px;
			@media (max-width:600px) {
				flex: 0 0 100%;
			}
		}

		&__link {
			display: flex;
			align-items: center;
            color: #000000;
            font-family: "PT Sans";
			font-size: 15px;
			@media (max-width:600px) {
				display: block;
				text-align: center;
			}
        }
        
		&__img {
			max-width: 100%;
		}

		&__text {
			margin-left: 8px;
		}
}

.footer-social {
	@media (max-width:600px) {
		text-align: center;
	}
	&__link {
		margin-right: 27px;
		&:last-child {
			margin-right: 0;
		}

	}

	&__img {
		max-width: 100%;
	}
}


.footer-main {
	display: flex;
	flex-wrap: wrap;
	@media (max-width: 550px) {
		flex-direction: column-reverse;
	}


		&__column {
			flex: 0 0 50%;
			@media (max-width: 550px) {
				flex: 0 0 100%;
				height: 350px;
			}
		}
}
.footer-main__map {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	@media (max-width: 550px) {
		position: relative;
		width: 100%;
		height: 100%;
	}

	iframe {
		display: block;
		width: 100%;
		height: 100%;
	}
}
.footer-form {
	margin: 54px 20px 0 59px;
	@media (max-width: 550px) {
		margin: 54px 20px 0 30px;
	}
		&__heading {
			color: #ffffff;
			font-family: "Akzidenz Grotesk BQ - Bd Cnd";
			font-size: 25px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			margin-bottom: 28px;
		}
	
		&__item {
			display: block;
			margin-bottom: 25px;
			border: 2px solid #959595;
			background-color: #252525;
			color: #959595;
			font-family: "PT Sans";
			line-height: 25px;
			padding-left: 12px;
			width: 100%;
		}

		&__submit-btn {
			display: block;
			margin-bottom: 50px;
			background-color: #ffffff;
			color: #000000;
			font-family: 'Bebas Neue', cursive;
			line-height: 30px;
			text-transform: uppercase;
			padding: 0 21px;
			letter-spacing: 1.5px;
			cursor: pointer;
		}
}
.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 44px 0;
	@media (max-width: 950px) {
		padding: 44px 20px;
	}
	@media (max-width: 700px) {
		padding: 30px 20px;
	}
	@media (max-width: 600px) {
		padding: 20px 20px;
	}
	@media (max-width: 470px) {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}
.footer-copyright {
	@media (max-width: 700px) {
		font-size: 13px;
	}
	@media (max-width: 600px) {
		font-size: 10px;
	}
		&__text {
			color: #4d4d4d;
			font-family: "PT Sans";
		}

		&__link {
			text-decoration: underline;
			color: #4d4d4d;
			font-family: "PT Sans";
		}
}
.footer-logo {
	width: 156px;
		&__img {
			max-width: 100%;
		}
		@media (max-width: 470px) {
			margin-bottom: 20px;
		}
}
