/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
	font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
	src: url('/fonts/AkzidenzGrotesk-BoldCond.eot');
	src: local('☺'), url('/fonts/AkzidenzGrotesk-BoldCond.woff') format('woff'), url('/fonts/AkzidenzGrotesk-BoldCond.ttf') format('truetype'), url('/fonts/AkzidenzGrotesk-BoldCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import "nullStyle.scss";


@import "relativeFonts.scss";

.wrapper {
	position: relative;
	overflow: hidden;
	
		&_black {
			background-color: black;
		}
		&_grey {
			background-color: #ebebeb;
		}
}

@import "header.scss";
@import "mainPart.scss";
@import "footer.scss";
